@import colors
@import prefixes
@import 'components/triangle'
infobarHeight = 150px
.ig
  @import basics
  @import InfoBar
  @import GraphTip
.ig
  overflow hidden
  .map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    transform translate(0, 0px)
    transition transform 0.2s
  &.info-bar-active
    .map
      transform translate(0, infobarHeight * -1)
    .info-bar
      transform translate(0, 0)
  .graph-tip
    width auto
    white-space nowrap
